.admin-table-container {
  width: calc(100% - 260px);
    margin: 0;
    text-align: center;
    padding: 20px;
    margin-left: 255px;
    display: block;
    margin-right: 20px;
}

.admin-table-container h2 {
  color: #333;
}

.admin-add-user-btn {
  background-color: #383d7c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.admin-add-user-btn:hover {
  background-color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  color: white;
  background-color: #383d7c;
}



.admin-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.admin-popup-content h3 {
  margin-bottom: 15px;
}

.admin-popup-content input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-popup-buttons {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 10px;
}

.admin-popup-buttons button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-popup-buttons button:first-child {
  background-color: #383d7c;
  color: white;
}

.admin-popup-buttons button:first-child:hover {
  background-color: #383d7c ;
}

.admin-cancel-btn {
  background-color: #6c757d;
  color: white;
}

.admin-cancel-btn:hover {
  background-color: #5a6268;
}
